div {
	font-size:50%;
}


#column_0 {
  background:white;
  font-size:100%;
  text-align: center;
}

#column_1 {
  float:left;
  height:100vh;
  width:33.3%;  
  background:#7FFF00;
  overflow-y:scroll;
  	font-size:200%;
}


#column_2 {
  float:left;
  height:100vh;
  width:33.3%; 
  background:#B8860B;
  overflow-y:scroll;
  font-size:200%;
}

#column_3 {
  float:left;
  height:100vh;
  width:33.3%;  
  background:#9400D3; 
  overflow-y:scroll;
  	font-size:200%;
}